@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700)

turquoise = #1ABC9C
turquoise-dark = #16A085

emerald = #2ECC71
nephritis = #27AE60

peter-river = #3498DB
belize-hole = #2980B9

amethyst = #9B59B6
wisteria = #8E44AD

wet-asphalt = #34495E
midnight-blue = #2C3E50

sun-flower = #F1C40F
orange = #F39C12

carrot = #E67E22
pumpkin = #D35400

alizarin = #E74C3C
pomegranate = #C0392B

clouds = #ECF0F1
silver = #BDC3C7

concrete = #95A5A6
asbestos = #7F8C8D

body
  background-color: clouds
  font-family: Helvetica, sans-serif
  font-size: 14px
  padding: 0

.fixed-width
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace

.underline
  text-decoration: underline

code
  color: #777
  font-size: 14px

.headline 
  width: 300px
  margin: 0 auto
  color: #FFF
  font-size: 100px
  text-align: center
  font-weight: 700px
  margin-top: 100px
  height: 125px
  text-shadow: 0 1px 0 #BDC3C7, 0 2px 0 #BDC3C7, 0 3px 0 #BDC3C7, 0 4px 0 #BDC3C7

#auth-form
  input[type="submit"] 
    background-color: #3498DB
    border-radius: 8px
    box-shadow: 0 5px 0 #2980B9
    margin-bottom: 20px
    padding: 0 20px
    border: none
    color: #ECF0F1
    font-size: 28px
    font-weight: bold
    width: 100%


.channels.nav 
  background-color: wet-asphalt
  color: wet-asphalt
  height: 100%
  position: fixed
  top: 0
  left: 0
  width: 200px
  li.logo
    font-size: 21px
    color: white
    font-weight: bold
    padding: 12px 12px
  li
    a > button 
      display: none
    a, form > input 
      color: rgba(255,255,255,0.3)
      padding: 6px 12px
      font-size: 16px
  li:hover > a > button 
    display: inline-block
  li.all:hover > a > button 
    display:none

  .selected > a,
  .selected:hover > a
    background-color: peter-river
    color: #FFF
  li > a:hover 
    background-color: midnight-blue

.new-channel-li 
  background-color: rgba(0, 0, 0, 0.075)
  border-bottom: 2px solid rgba(0, 0, 0, 0.02)

.new-channel-li input,
.new-channel-li input:focus 
  background-color: rgba(0,0,0,0)
  border: none
  box-shadow: none
  line-height: normal
  margin-top: 7px

.new-channel-li input::-webkit-input-placeholder 
  color: rgba(255, 255, 255, 0.15)

.messages, .notifications
  margin: 0

.messages
  .offline
    .reply, small, p
      opacity: 0.4
    .actions
      display: none
    .divider
      border-bottom: 2px solid rgba(0,0,0,0.02)
  .join
    margin-top: -23px

.message.faded
  background-color: #f4f8f9
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05)
  .reply, small, p
    opacity: 0.4
  .divider
    border-bottom: 2px solid rgba(0,0,0,0.02)

.message
  background-color: #fff
  border-radius: 4px
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1)
  margin-bottom: 10px
  padding: 11px 15px
  color: #777
  position: relative
  transition: .15s left, .15s opacity, .15s background-color, .15s color
  .reply, small, p
    transition: .15s left, .15s opacity, .15s background-color, .15s color
  .muted
    color: rgba(0,0,0,0.4)
    font-size: 12px
  .divider
    width: 100%
    border-bottom: 2px solid rgba(0,0,0,0.06)
    margin: 0 0 10px 0
  .actions
    font-size: 12px
    opacity: 0
    display: inline
    .action
      display: inline

.message:hover
  cursor: pointer
  .actions
    opacity: 1
    i
      opacity: 0.4
    .action
      display: inline
    .action:hover
      color: #333
      i
        opacity: 0.8

.tt-dropdown-menu
  top: calc(100% \- 85px) !important
  background-color: rgba(0,0,0,0)
  width: 100%
  .tt-suggestion
    padding: 3px 18px
    width: 100%
    color: rgba(0,0,0,0.2)
    font-size: 16px
    p
      margin: 0
  .tt-is-under-cursor
    background-color: peter-river
    color: white

.twitter-typeahead
  width: 100%

.messages > .mention
  border: 1px solid peter-river
.notifications > .message
  color: #ECF0F1
  background-color: #3498DB
  box-shadow: 0 2px 0 #2980B9

.notifications > .message:hover
  cursor: pointer
  background-color: belize-hole

.messages > li > a:link 
  color: #3498DB

.messages > li > p,
.notifications > li > p 
  font-size: 16px
  line-height: 21px
  font-weight: 300
  margin: 0

.reply
  font-size: 12px
.reply:hover 
  border-bottom: 1px solid #ccc
  cursor: pointer

form 
  margin: 0

#say, #say-input 
  width: calc(100% \- 30px)

#say-input, input.tt-hint
  font-size: 16px
  height: 24px
  line-height: normal

#say-input::-webkit-input-placeholder, input.tt-hint
  color: rgba(0, 0, 0, 0.2)

.messages-container 
  margin-left: 200px
  margin-bottom: 51px
  padding: 15px
  .input-container
    position: fixed
    bottom: 0
    left: 200px
    width: calc(100% \+ 30px)
    background-color: #d9ddde
    border-top: 2px solid rgba(0,0,0,0.02)
    input, input:focus
      border: none
      background-color: rgba(0,0,0,0)
      box-shadow: none
      line-height: normal
      margin: 10px

#auth-form 
  width: 35vw
  margin: 0 auto

#auth-form > input,
#auth-form > input:focus 
  min-width: 260px
  width: 100%
  height: 60px
  font-size: 21px
  padding: 0 20px
  margin-bottom: 20px
  line-height: normal
  border-radius: 8px
  box-sizing: border-box

.badge-info
  background-color: midnight-blue
  margin-left: 6px
  vertical-align: bottom
  margin-bottom: 1px
  color: rgba(255,255,255,0.7)

.selected
  .badge-info
    background-color: belize-hole
    color: white
