@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700)

turquoise = #1ABC9C
turquoise-dark = #16A085

emerald = #2ECC71
nephritis = #27AE60

peter-river = #3498DB
belize-hole = #2980B9

amethyst = #9B59B6
wisteria = #8E44AD

wet-asphalt = #34495E
midnight-blue = #2C3E50

sun-flower = #F1C40F
orange = #F39C12

carrot = #E67E22
pumpkin = #D35400

alizarin = #E74C3C
pomegranate = #C0392B

clouds = #ECF0F1
silver = #BDC3C7

concrete = #95A5A6
asbestos = #7F8C8D

body
  background-color: clouds
  font-family: Helvetica, sans-serif
  font-size: 14px
  padding: 0
  padding-top: 63px

.fixed-width
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace

.underline
  text-decoration: underline

code
  color: #777
  font-size: 14px

.headline 
  width: 300px
  margin: 0 auto
  color: #FFF
  font-size: 100px
  text-align: center
  font-weight: 700px
  margin-top: 100px
  height: 125px
  text-shadow: 0 1px 0 #BDC3C7, 0 2px 0 #BDC3C7, 0 3px 0 #BDC3C7, 0 4px 0 #BDC3C7

.header
  padding: 20px
  background-color: wet-asphalt
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 99
  .logo
    font-size: 24px
    font-weight: bold
    color: white
  .top-nav
    float: right
    list-style: none
    color: white
    margin: 0
    li
      display: inline-block
      margin-left: 35px
      a
        color: white
.channels
  color: #777
  height: 100%
  width: 200px
  list-style: none
  font-size: 18px
  padding: 0
  margin: 0
  margin-top: 25px
  position: fixed
  li
    margin-bottom: 13px
    width: 180px

    button 
      display: none
    i
      opacity: 0.5
      vertical-align: baseline
    a, form > input 
      color: #777
      font-size: 18px
      transition: .15s background-color, .15s color
  li:hover > button 
    display: inline-block
  li.all:hover > button 
    display:none

  .selected > a,
  .selected:hover > a
    color: peter-river
    transition: .15s background-color, .15s color

.new-channel-li
  .new-channel-link
    color: silver
  .new-channel-link:hover
    cursor: pointer
    color: #777
  .new-channel-form
    display: none
.messages, .notifications
  margin: 0

.channel-container
  position: absolute
  top: 0
  left: 200px
  width: 760px
  .channel-breadcrumb
    color: #777
    margin-top: 25px
    .channel-name
      color: #777
      font-size: 16px
      font-weight: bold
    .slash
      font-size: 16px
      color: silver
  .buttons
    position: absolute
    top: 25px
    right: 0
    a
      border: none
      color: white
      font-weight: bold
      text-transform: uppercase
      border-radius: 3px
      display: inline-block
      font-size: 10px
      padding: 3px 12px
    a:hover
      text-decoration: none
    .add-bot
      background-color: peter-river
      box-shadow: 0 2px 0 belize-hole
    .settings
      background-color: silver
      box-shadow: 0 2px 0 concrete
  .user-count
      color: #777
      display: inline-block
      font-size: 12px
      i
        position: relative
        top: -2px
        margin-right: 4px
        opacity: 0.35
.messages
  margin-top: 20px
  margin-bottom: 62px
  .offline
    .reply, small, p
      opacity: 0.4
    .actions
      display: none
    .divider
      border-bottom: 2px solid rgba(0,0,0,0.02)
  .join
    margin-top: -23px
  .info
    background-color: rgba(0,0,0,0)
    box-shadow: none
    padding-top: 0px
    .reply, .actions
      display: none
    p
      color: black
      text-shadow: 0 1px 0 white
      opacity: 0.3
      font-weight: bold
      font-size: 14px
  .mention
    border: 1px solid peter-river
  .bot
    background-color: silver

.message.faded
  background-color: clouds
  box-shadow: 0 2px 0 clouds
  .reply, small, p
    opacity: 0.4
  .divider
    border-bottom: 2px solid rgba(0,0,0,0.02)

.message
  background-color: #fff
  border-radius: 4px
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1)
  margin-bottom: 10px
  padding: 11px 15px
  color: #777
  position: relative
  transition: .15s left, .15s opacity, .15s background-color, .15s color
  p
    font-size: 16px
    line-height: 21px
    font-weight: 300
    margin: 0
  .reply, small, p
    transition: .15s left, .15s opacity, .15s background-color, .15s color
  .reply
    font-size: 12px
    .normal
      display: none
    .operator
      display: inline-block
      color: peter-river
      font-size: 30px
      position: relative
      bottom: -7px
      margin-right: -2px
      margin-top: -5px
  .reply:hover 
    border-bottom: 1px solid #ccc
    cursor: pointer
  .muted
    color: rgba(0,0,0,0.4)
    font-size: 12px
  .divider
    width: 100%
    border-bottom: 2px solid rgba(0,0,0,0.06)
    margin: 0 0 10px 0
  .actions
    font-size: 12px
    opacity: 0
    display: inline
    .action
      display: inline

.message:hover
  cursor: pointer
  .actions
    opacity: 1
    i
      opacity: 0.4
    .action
      display: inline
    .action:hover
      color: #333
      i
        opacity: 0.8

.tt-dropdown-menu
  top: calc(100% \- 85px) !important
  background-color: rgba(0,0,0,0)
  width: 760px
  .tt-suggestions
    padding-top: 5px
  .tt-suggestion
    padding: 3px 18px
    width: 760px
    box-sizing: border-box
    color: rgba(0,0,0,0.2)
    font-size: 16px
    p
      margin: 0
  .tt-is-under-cursor
    background-color: peter-river
    color: white

.twitter-typeahead
  width: 100%

.notifications > .message
  color: #ECF0F1
  background-color: #3498DB
  box-shadow: 0 2px 0 #2980B9

.notifications > .message:hover
  cursor: pointer
  background-color: belize-hole

.messages > li > a:link 
  color: #3498DB
form 
  margin: 0

#say-input, input.tt-hint
  font-size: 16px
  height: 32px
  line-height: normal
  background-color: white
  width: 760px
  box-sizing: border-box

#say-input::-webkit-input-placeholder, input.tt-hint
  color: rgba(0, 0, 0, 0.2)

.marketing-section-signup
  background-color: wet-asphalt
  padding: 80px 0
.container
  width: 960px
  color: white
  position: relative
  .heading
    font-size: 70px
    font-weight: normal
    letter-spacing: -1px
    line-height: 1
  .subhead
    font-size: 21px
    line-height: 1.5
  #form-signup
    width: 320px
    float: right
    margin-left: 40px
    input, input:focus 
      width: 100%
      font-size: 16
      padding: 10px
      margin-bottom: 20px
      line-height: normal
      border-radius: 5px
      margin-bottom: 10px
      border: none
      height: 40px
      box-sizing: border-box
    input[type="submit"] 
      background-color: #3498DB
      box-shadow: 0 5px 0 #2980B9
      border: none
      color: #ECF0F1
      font-weight: bold

.privacy-print
  color: rgba(255,255,255,0.3)

.input-container
  position: fixed
  bottom: 0
  background-color: clouds
  padding: 10px 0

.badge-info
  background-color: silver
  margin-left: 6px
  vertical-align: bottom
  margin-bottom: 1px
  color: white
  text-shadow: none

.selected
  .badge-info
    background-color: belize-hole
    color: white

.channel-list
  list-style: none
  li
    border-bottom: 1px solid #ccc
    padding-bottom: 15px
    margin-bottom: 15px
    color: #777
    position: relative
    h3
      font-size: 20px
      margin: 0
    .user-count
      position: absolute
      top: 0
      right: 0
      color: #777
      display: inline-block
      font-size: 12px
      i
        position: relative
        top: -2px
        margin-right: 4px
        opacity: 0.35

#form-signin
  width: 320px
  margin: 100px auto
  input
    width: 320px
    box-sizing: border-box
    height: 35px
  input[type="submit"]
    height 30px
    background-color: #3498DB
    box-shadow: 0 5px 0 #2980B9
    border: none
    color: #ECF0F1
    font-weight: bold
    border-radius: 5px

.page-head
  position: fixed
  top: 0
  left: 200px
  padding: 20px
  background-color: #ecf0f1
  z-index: 99
  width: calc(100% \- 200px)
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1)
  box-sizing: border-box
  a
    margin-right: 97px
    color: #777
    transition: .15s left, .15s opacity, .15s background-color, .15s color
  a:hover
    color: peter-river
    text-decoration: none
  i
    margin: 0 10px
    font-size: 16px
    color: #777
.topic
  font-size: 16px
  font-weight: 300
  color: #666
  margin-top: 9px
  .topic-edit, .topic-edit > a
    color: silver

#topic-form
  display: none

.settings-section
  border-radius: 5px
  border: 1px solid silver
  background-color: white
  padding: 10px
  width: 760px
  box-sizing: border-box
  color: #777
  margin-top: 25px
  .section-heading
    font-size: 16px
    font-weight: bold

  .ignore-list
    width: 200px
