@media only screen and (max-width: 767px) {
  html {
    height: 100%; }
    html body {
      height: 100%; }
      html body .container {
        height: 100%; }
        html body .container .row {
          height: 100%; }

  .messages {
    overflow: auto;
    position: fixed;
    top: 45px;
    bottom: 54px;
    right: 0;
    left: 0;
    padding: 15px 15px 0;
    -webkit-overflow-scrolling: touch; }

  .messages > * {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px); }

  .input-container {
    background-color: #ecf0f1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px !important; } }
body {
  background-color: #ecf0f1;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 52px;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, sans-serif; }
  @media only screen and (min-width: 768px) {
    body {
      padding-top: 66px; } }

a:focus {
  outline: 0; }

form {
  margin: 0; }

input.form-control-two {
  -webkit-appearance: none; }
  @media only screen and (min-width: 768px) {
    input.form-control-two {
      outline: none; } }

.form-control-two {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.tooltip {
  transition: transform ease-in-out 0.15s; }

.tooltip.in {
  opacity: 0.8; }

.tooltip-inner {
  background-color: #2c3e50; }

.tooltip.top .tooltip-arrow {
  border-top-color: #2c3e50; }

.fixed-width {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }

.reverse {
  transform: scale(-1, 1); }

.underline {
  text-decoration: underline; }

code {
  color: #777777;
  font-size: 14px;
  border: 1px solid #e1e1e8;
  background-color: #f7f7f9; }

.btn-primary {
  background-color: #3498db; }

.rdio-button {
  color: #777777;
  border: 1px solid #b8c3c9;
  line-height: 26px;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 4px;
  background-clip: padding-box;
  box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-user-select: none;
  background-image: linear-gradient(white 60%, #f5f7fa 100%); }

button:focus {
  outline: none; }

a {
  color: #3498db; }

.thumbnail {
  background-color: white; }

input.form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3); }

input.form-control {
  border: 2px solid #bdc3c7;
  box-shadow: none;
  -webkit-appearance: none; }

input.form-control:hover {
  border-color: #95a5a6;
  -webkit-appearance: none; }

input.form-control:focus {
  border-color: #3498db;
  box-shadow: none;
  -webkit-appearance: none; }

label {
  color: #777777; }

label.checkbox {
  color: #777777;
  line-height: 16px;
  margin-bottom: 25px; }
  label.checkbox p {
    font-weight: normal; }

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.btn-primary-outline {
  color: #3498db;
  border: 1px solid #3498db;
  background-color: transparent;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px; }
  .btn-primary-outline .glyphicon-plus {
    font-size: 8px;
    top: -1px; }

.btn-primary-outline:hover {
  color: white;
  background-color: #3498db;
  border: 1px solid #3498db; }

#relay-nav {
  background-color: #ecf0f1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  border-color: #bdc3c7;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1); }
  #relay-nav .search {
    float: left;
    position: relative;
    margin-left: 50px; }
    @media only screen and (max-width: 767px) {
      #relay-nav .search {
        display: none; } }
    #relay-nav .search input {
      border-radius: 13px;
      height: 26px;
      margin: 20px 0;
      width: 230px;
      border: none;
      padding-left: 26px; }
    #relay-nav .search .batch-icon {
      position: absolute;
      top: 27px;
      left: 8px;
      color: #bdc3c7;
      font-size: 14px;
      text-shadow: none; }
  @media only screen and (max-width: 767px) {
    #relay-nav .navbar-brand img {
      width: 50px;
      height: 21px; } }
  #relay-nav .navbar-nav li.open {
    background: none; }
  #relay-nav .navbar-nav li.signup > a {
    display: inline-block;
    margin: 15px 15px;
    padding: 8px 18px;
    border-radius: 4px;
    border: 1px solid white; }
  #relay-nav .navbar-nav li.signup > a:hover {
    color: #3498db;
    background-color: white; }
  #relay-nav .navbar-nav > li > a:hover {
    color: #333333; }
    #relay-nav .navbar-nav > li > a:hover .caret {
      border-top-color: #333333;
      border-bottom-color: #333333; }
  #relay-nav .navbar-nav > li.open > a {
    background-color: #ecf0f1;
    color: #333333; }
  #relay-nav .navbar-nav > li > a {
    color: #777777;
    padding: 23px 15px;
    text-shadow: none; }
    #relay-nav .navbar-nav > li > a .caret {
      border-top-color: #777777;
      border-bottom-color: #777777; }
    #relay-nav .navbar-nav > li > a .line {
      display: inline-block;
      border-right: 1px solid #bdc3c7;
      height: 18px;
      margin: -3px 7px; }
  #relay-nav .navbar-btn {
    background-color: #3498db;
    color: white;
    border-color: #3498db; }
  #relay-nav .navbar-collapse {
    border-color: #bdc3c7; }
  #relay-nav .navbar-toggle {
    border-color: #ecf0f1;
    background-color: #ecf0f1; }
    #relay-nav .navbar-toggle .icon-bar {
      color: #777777;
      background-color: #777777; }
  #relay-nav .navbar-inverse-toggle, #relay-nav .navbar-toggle:hover {
    border-color: #bdc3c7;
    background-color: #bdc3c7; }

#relay-nav.home {
  background-color: #3498db;
  border: none;
  text-shadow: none;
  box-shadow: none; }
  #relay-nav.home .search {
    display: none; }
  #relay-nav.home .navbar-nav > li > a {
    color: white; }
  #relay-nav.home .navbar-collapse {
    border-color: #2980b9; }
  #relay-nav.home .navbar-toggle {
    border-color: #3498db;
    background-color: #3498db; }
    #relay-nav.home .navbar-toggle .icon-bar {
      color: white;
      background-color: white; }
  #relay-nav.home .navbar-inverse-toggle, #relay-nav.home .navbar-toggle:hover {
    border-color: #2980b9;
    background-color: #2980b9; }

.home-top {
  background-color: #3498db;
  color: #798795;
  font-size: 16px;
  text-align: center;
  padding-bottom: 150px; }
  .home-top img {
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.35);
    max-width: 75%; }
  .home-top .container {
    text-align: center; }
    .home-top .container h1 {
      font-size: 64px;
      color: white;
      font-weight: bold; }
      @media only screen and (min-width: 1024px) {
        .home-top .container h1 {
          font-size: 114px; } }
    .home-top .container h4 {
      color: rgba(255, 255, 255, 0.6);
      margin-bottom: 50px;
      font-size: 14px; }
      @media only screen and (min-width: 1024px) {
        .home-top .container h4 {
          font-size: 19px;
          margin-bottom: 100px; } }
    .home-top .container .irssi {
      margin-right: 75px; }
      @media only screen and (min-width: 320px) and (max-width: 567px) {
        .home-top .container .irssi {
          margin: 0 0 20px 0; } }
  @media only screen and (min-width: 768px) {
    .home-top {
      text-align: left; } }
  @media only screen and (min-width: 1344px) {
    .home-top {
      font-size: 21px; } }
  .home-top h1 {
    color: white; }
    @media only screen and (min-width: 1024px) {
      .home-top h1 {
        font-size: 60px;
        letter-spacing: -1px; } }
  .home-top p {
    font-weight: 400;
    line-height: 1.5; }
  .home-top a {
    color: #3498db; }
  .home-top a:hover {
    color: #2980b9; }
  .home-top #signup {
    display: none; }
    .home-top #signup input, .home-top #signup button {
      margin-bottom: 15px;
      border: none;
      padding: 8px 12px;
      width: 100%;
      height: auto; }

.home-middle {
  background-color: #ecf0f1;
  color: #666666;
  padding-bottom: 75px; }
  .home-middle .container p {
    line-height: 1.5;
    font-size: 16px;
    margin: 75px auto 100px;
    text-align: left; }
  .home-middle .container .feature-row h3 .glyphicon, .home-middle .container .feature-row h3 .batch-icon {
    color: #aaaaaa; }

.footer {
  background-color: #ecf0f1;
  padding: 25px 0;
  color: #aaaaaa;
  font-size: 12px; }
  @media only screen and (min-width: 568px) {
    .footer {
      font-size: 14px; } }

.signin-container, .signup-container {
  color: #777777; }
  .signin-container .centerer, .signup-container .centerer {
    max-width: 400px;
    margin: 0 auto; }
  .signin-container h2, .signup-container h2 {
    font-size: 60px;
    color: #3498db;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 50px; }
  .signin-container footer, .signup-container footer {
    text-align: center;
    margin-top: 100px;
    color: #999999;
    font-size: 12px; }
    @media only screen and (min-width: 568px) {
      .signin-container footer, .signup-container footer {
        font-size: 14px; } }
  .signin-container #signin input, .signin-container #signup input, .signup-container #signin input, .signup-container #signup input {
    border: 2px solid #bdc3c7;
    box-shadow: none;
    margin-bottom: 15px; }
  .signin-container #signin input, .signin-container #signin button, .signin-container #signup input, .signin-container #signup button, .signup-container #signin input, .signup-container #signin button, .signup-container #signup input, .signup-container #signup button {
    padding: 8px 12px;
    height: auto; }
  .signin-container #signin input:hover, .signin-container #signup input:hover, .signup-container #signin input:hover, .signup-container #signup input:hover {
    border-color: #95a5a6; }
  .signin-container #signin input:focus, .signin-container #signup input:focus, .signup-container #signin input:focus, .signup-container #signup input:focus {
    border-color: #3498db; }
  .signin-container #signin .btn, .signin-container #signup .btn, .signup-container #signin .btn, .signup-container #signup .btn {
    border: none;
    transition: background-color ease-in-out 0.15s;
    margin-top: 15px;
    padding: 10px;
    max-width: 200px; }
  .signin-container #signin .btn:focus, .signin-container #signup .btn:focus, .signup-container #signin .btn:focus, .signup-container #signup .btn:focus {
    background-color: #2980b9; }
  .signin-container #signin .forgot, .signin-container #signin .github, .signin-container #signup .forgot, .signin-container #signup .github, .signup-container #signin .forgot, .signup-container #signin .github, .signup-container #signup .forgot, .signup-container #signup .github {
    width: 200px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 10px; }

.input-container {
  padding: 15px; }
  .input-container #say-input {
    border: 2px solid #bdc3c7;
    box-shadow: none; }
  .input-container #say-input:hover {
    border-color: #95a5a6; }
  .input-container #say-input:focus {
    border-color: #3498db; }

.channel-container {
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .channel-container {
      padding-top: 100px; } }
  .channel-container .alert {
    text-align: center; }
  .channel-container .buttons {
    position: absolute;
    top: 19px;
    right: 0; }
    .channel-container .buttons a {
      border: none;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 3px;
      display: inline-block;
      font-size: 10px;
      padding: 3px 12px; }
    .channel-container .buttons a:hover {
      text-decoration: none; }
    .channel-container .buttons .add-bot {
      background-color: #3498db;
      box-shadow: 0 2px 0 #2980b9; }
    .channel-container .buttons .settings {
      background-color: silver;
      box-shadow: 0 2px 0 #95a5a6; }
  .channel-container .user-count {
    color: #777777; }
  .channel-container .user-count:hover {
    cursor: pointer;
    text-decoration: underline; }
  .channel-container .load-more {
    display: block;
    width: 200px;
    margin: 0 auto 15px; }
  .channel-container .channel-header {
    width: 100%;
    padding: 5px 15px;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    z-index: 98;
    background-color: #ecf0f1;
    box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #bdc3c7; }
    @media (min-width: 768px) {
      .channel-container .channel-header {
        width: 625px;
        top: 66px;
        padding: 15px; } }
    @media (min-width: 992px) {
      .channel-container .channel-header {
        width: 808px;
        padding: 15px; } }
    @media (min-width: 1200px) {
      .channel-container .channel-header {
        width: 975px;
        padding: 15px; } }
    .channel-container .channel-header .navbar-toggle {
      margin: 0; }
      .channel-container .channel-header .navbar-toggle .icon-bar {
        background-color: #777777; }
    .channel-container .channel-header .channel-breadcrumb {
      color: #777777;
      margin-top: 4px; }
      @media only screen and (min-width: 568px) {
        .channel-container .channel-header .channel-breadcrumb {
          margin: 0; } }
      .channel-container .channel-header .channel-breadcrumb h3 {
        display: inline;
        font-size: 20px; }
      .channel-container .channel-header .channel-breadcrumb .channel-name {
        color: #777777;
        font-weight: bold; }
      .channel-container .channel-header .channel-breadcrumb .slash {
        font-size: 18px;
        color: silver; }
    .channel-container .channel-header .topic, .channel-container .channel-header #topic-form {
      display: none;
      font-size: 14px;
      color: #666666;
      margin-top: 5px; }
      @media only screen and (min-width: 768px) {
        .channel-container .channel-header .topic, .channel-container .channel-header #topic-form {
          display: block; } }
      .channel-container .channel-header .topic .topic-edit, .channel-container .channel-header .topic .topic-edit > a, .channel-container .channel-header #topic-form .topic-edit, .channel-container .channel-header #topic-form .topic-edit > a {
        color: #bdc3c7; }
    .channel-container .channel-header .glyphicon {
      color: #bdc3c7; }
    .channel-container .channel-header .channel-settings, .channel-container .channel-header .channel-notifications {
      position: absolute;
      top: 15px;
      color: #777777;
      font-size: 21px;
      display: none; }
      @media only screen and (min-width: 768px) {
        .channel-container .channel-header .channel-settings, .channel-container .channel-header .channel-notifications {
          top: 17px; } }
      @media only screen and (min-width: 768px) {
        .channel-container .channel-header .channel-settings, .channel-container .channel-header .channel-notifications {
          right: 150px;
          font-size: 14px;
          display: block; } }
      .channel-container .channel-header .channel-settings .glyphicon, .channel-container .channel-header .channel-notifications .glyphicon {
        position: relative;
        top: 1px; }
      @media only screen and (min-width: 768px) {
        .channel-container .channel-header .channel-settings .hidden-xs, .channel-container .channel-header .channel-notifications .hidden-xs {
          display: inline !important; } }
      .channel-container .channel-header .channel-settings .batch-icon, .channel-container .channel-header .channel-notifications .batch-icon {
        color: #bdc3c7;
        font-size: 19px;
        margin-right: 6px; }
        @media only screen and (min-width: 768px) {
          .channel-container .channel-header .channel-settings .batch-icon, .channel-container .channel-header .channel-notifications .batch-icon {
            font-size: 14px; } }
      .channel-container .channel-header .channel-settings .badge, .channel-container .channel-header .channel-notifications .badge {
        padding: 2px 4px 1px;
        font-size: 9px;
        background-color: #3498db;
        position: absolute;
        left: 9px;
        top: 4px; }
        @media only screen and (min-width: 768px) {
          .channel-container .channel-header .channel-settings .badge, .channel-container .channel-header .channel-notifications .badge {
            left: 7px;
            top: -1px; } }
    .channel-container .channel-header .channel-settings {
      right: 15px; }
    .channel-container .channel-header .channel-notifications {
      right: 40px; }
      @media only screen and (min-width: 768px) {
        .channel-container .channel-header .channel-notifications {
          right: 105px; } }
    .channel-container .channel-header .channel-settings:hover, .channel-container .channel-header .channel-notifications:hover, .channel-container .channel-header .channel-settings.active, .channel-container .channel-header .channel-notifications.active {
      color: #3498db;
      text-decoration: none; }
      .channel-container .channel-header .channel-settings:hover .batch-icon, .channel-container .channel-header .channel-settings:hover .glyphicon, .channel-container .channel-header .channel-notifications:hover .batch-icon, .channel-container .channel-header .channel-notifications:hover .glyphicon, .channel-container .channel-header .channel-settings.active .batch-icon, .channel-container .channel-header .channel-settings.active .glyphicon, .channel-container .channel-header .channel-notifications.active .batch-icon, .channel-container .channel-header .channel-notifications.active .glyphicon {
        color: rgba(52, 152, 219, 0.5); }
    .channel-container .channel-header .channel-invite {
      display: none;
      position: absolute;
      top: 14px;
      right: 15px;
      color: #3498db;
      border: 1px solid #3498db;
      background-color: transparent;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px; }
    .channel-container .channel-header .channel-invite:hover {
      color: white;
      background-color: #3498db; }
    .channel-container .channel-header .invite-dropdown {
      padding: 10px;
      right: 15px;
      left: auto;
      top: 42px !important;
      bottom: auto !important; }
      .channel-container .channel-header .invite-dropdown input {
        margin-right: 5px;
        display: inline-block;
        width: 200px; }
    .channel-container .channel-header #topic-form {
      display: none; }
    .channel-container .channel-header .channel-header-collapse .navbar-nav .divider {
      height: 1px;
      background-color: #bdc3c7;
      margin: 8px 0; }
    .channel-container .channel-header .channel-header-collapse .navbar-nav .dropdown-header {
      text-transform: uppercase;
      font-size: 10px; }
    .channel-container .channel-header .channel-header-collapse .navbar-nav li > a:hover {
      background-color: #bdc3c7; }

.channels {
  color: #777777;
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  position: fixed; }
  @media screen and (min-width: 992px) {
    .channels {
      width: 132px; } }
  @media screen and (min-width: 1200px) {
    .channels {
      width: 165px; } }
  @media only screen and (min-width: 320px) and (max-width: 567px) {
    .channels {
      width: 100%;
      position: relative;
      display: none; } }
  .channels li .close {
    display: none;
    font-size: 18px; }
  .channels li .glyphicon-lock {
    font-size: 12px;
    top: -1px;
    margin-right: -6px; }
  .channels li .batch-icon {
    font-size: 12px;
    color: #bdc3c7; }
  .channels li a, .channels li form > input {
    color: #777777;
    transition: 0.15s background-color, 0.15s color;
    display: inline-block; }
  .channels li a:hover {
    text-decoration: none; }
  .channels li a > .badge {
    position: relative;
    top: -2px;
    padding: 2px 6px;
    font-size: 10px; }
  .channels .section {
    color: #bdc3c7;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    margin-bottom: -2px;
    margin-top: 22px; }
  .channels .channel {
    padding: 1px 5px;
    margin: -1px 0 -1px -5px;
    border-radius: 5px; }
    .channels .channel .hash {
      color: #bdc3c7; }
  .channels .channel:hover {
    background-color: #e0e4e5; }
    .channels .channel:hover .close {
      display: inline-block; }
  .channels .channel.selected .glyphicon, .channels .channel.selected .batch-icon {
    color: #3498db; }
  .channels .channel.selected .hash {
    font-weight: 400;
    color: #3498db; }
  .channels .selected > a,
  .channels .selected:hover > a {
    color: #3498db;
    transition: 0.15s background-color, 0.15s color;
    font-weight: 600; }
  .channels .new-channel-li {
    color: #bdc3c7;
    font-size: 12px;
    position: relative;
    margin-top: 7px; }
    .channels .new-channel-li .new-channel-link:hover {
      cursor: pointer;
      color: #3498db; }
    .channels .new-channel-li .glyphicon {
      font-size: 9px; }
    .channels .new-channel-li .new-channel-form {
      display: none; }
      .channels .new-channel-li .new-channel-form .pound {
        position: absolute;
        top: 5px;
        left: 7px;
        font-size: 14px; }
      .channels .new-channel-li .new-channel-form .new-channel-input {
        font-size: 14px;
        padding-left: 14px;
        height: 30px; }

.messages .message {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  padding: 10px 12px;
  color: #777777;
  position: relative;
  transition: 0.15s left, 0.15s opacity, 0.15s background-color, 0.15s color, 1s border-color;
  border: 1px solid transparent; }
  .messages .message a:link {
    color: #3498db; }
  .messages .message p {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    word-wrap: break-word;
    cursor: text;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text; }
    .messages .message p img {
      max-width: 100%;
      max-height: 70vh; }
      @media only screen and (min-width: 768px) {
        .messages .message p img {
          max-height: 60vh; } }
    .messages .message p a {
      font-weight: 400; }
  .messages .message .reply, .messages .message small, .messages .message p {
    transition: 0.15s left, 0.15s opacity, 0.15s background-color, 0.15s color; }
  .messages .message .reply {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
    box-sizing: content-box;
    color: #bdc3c7; }
    .messages .message .reply .normal {
      display: none; }
    .messages .message .reply .operator {
      display: inline-block;
      color: #3498db;
      font-size: 10px; }
    .messages .message .reply a {
      color: #777777; }
    .messages .message .reply a:hover {
      color: #3498db; }
    .messages .message .reply a.operator {
      color: white;
      background-color: #3498db;
      border-radius: 2px;
      padding: 0 2px; }
    .messages .message .reply .glyphicon-time {
      top: 0;
      color: #bdc3c7;
      font-size: 12px; }
    .messages .message .reply .away-since {
      margin-left: 2px;
      color: #bdc3c7;
      font-size: 12px; }
  .messages .message .muted.time {
    color: rgba(0, 0, 0, 0);
    font-size: 12px; }
  .messages .message .divider {
    width: 100%;
    border-bottom: 1px solid #ecf0f1;
    margin: 0 0 10px 0; }
  .messages .message .actions {
    font-size: 12px;
    display: none; }
  .messages .message .action {
    font-size: 12px;
    display: inline; }
    .messages .message .action .glyphicon {
      color: #bdc3c7; }
  .messages .message .action:hover {
    color: #3498db;
    cursor: pointer; }
    .messages .message .action:hover .glyphicon {
      color: #3498db; }
  .messages .message .convo {
    display: inline-block;
    margin-top: 8px;
    color: #bdc3c7; }
    .messages .message .convo .batch-icon {
      font-size: 10px; }
  .messages .message .pm-icon {
    position: relative;
    bottom: -1px;
    font-size: 14px; }
  .messages .message .banned {
    color: #e74c3c;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px; }
  .messages .message iframe {
    width: 260px;
    height: 195px; }
    @media only screen and (min-width: 768px) {
      .messages .message iframe {
        width: 400px;
        height: 300px; } }
.messages .message:hover .actions {
  display: inline; }
.messages .message:hover .muted.time {
  color: rgba(0, 0, 0, 0.2); }
.messages .touch:hover .actions {
  display: none; }
.messages .bot {
  background-color: #bdc3c7;
  color: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.18); }
  .messages .bot p {
    font-family: Roboto;
    font-size: 18px;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px; }
  .messages .bot .reply {
    color: white; }
.messages .offline .reply, .messages .offline small, .messages .offline p {
  opacity: 0.4; }
.messages .offline .actions {
  display: none; }
.messages .offline .divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.02); }
.messages .join {
  margin-top: -20px; }
.messages .info {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding-top: 8px;
  padding-bottom: 8px; }
  .messages .info .reply, .messages .info .actions {
    display: none; }
  .messages .info p {
    color: #999999;
    text-shadow: 0 1px 0 white;
    font-weight: 600;
    font-size: 14px; }
    .messages .info p a {
      font-weight: 600; }
.messages .mention {
  border: 1px solid #3498db; }
.messages .message.faded .reply, .messages .message.faded small, .messages .message.faded p {
  opacity: 0.2; }
.messages .message.faded .divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.02); }

.user-profile {
  position: relative;
  top: 25px; }
  .user-profile .first.vcard {
    color: #777777; }
    .user-profile .first.vcard .name {
      font-size: 26px;
      font-weight: bold; }
    .user-profile .first.vcard .stats .joined-on {
      color: #bdc3c7; }
    .user-profile .first.vcard .btn {
      margin-top: 10px; }
  .user-profile .last {
    color: #777777;
    font-weight: bold; }
    .user-profile .last .user-channels {
      list-style: none; }
      .user-profile .last .user-channels li .name {
        font-size: 16px; }
      .user-profile .last .user-channels li .topic {
        font-size: 14px;
        color: #999999;
        margin: 0 0 12px 0;
        font-weight: normal; }

.channel-list {
  list-style: none;
  margin-top: 25px;
  padding: 0; }
  .channel-list li {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: #777777;
    position: relative; }
    .channel-list li .batch-icon {
      float: left;
      color: #bdc3c7;
      font-size: 28px;
      margin-right: 10px; }
    .channel-list li h3 {
      font-size: 20px;
      margin: 0; }
    .channel-list li .user-count {
      position: absolute;
      top: 0;
      right: 0;
      color: #777777;
      display: inline-block;
      font-size: 12px; }
      .channel-list li .user-count .glyphicon {
        color: #bdc3c7;
        top: 0; }

.explore-nav {
  margin-top: 25px; }

.typeahead.dropdown-menu {
  top: auto !important;
  bottom: 60px !important; }

.twitter-typeahead {
  width: 100%; }
  .twitter-typeahead .tt-hint {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border: 2px solid transparent;
    border-radius: 4px;
    color: #bdc3c7;
    width: 100%; }
  .twitter-typeahead .hint-small {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5; }
  .twitter-typeahead .hint-large {
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33; }
  .twitter-typeahead .tt-dropdown-menu {
    position: absolute;
    bottom: 28px;
    background-color: #3498db;
    color: white;
    padding: 5px 14px;
    border-radius: 5px;
    width: 100%; }

.notifications > .message {
  color: #ecf0f1;
  background-color: #3498db;
  box-shadow: 0 2px 0 #2980b9; }

.notifications > .message:hover {
  cursor: pointer;
  background-color: #2980b9; }

.privacy-print {
  color: rgba(255, 255, 255, 0.3); }

.badge-info {
  background-color: #bdc3c7;
  margin-left: 6px;
  vertical-align: bottom;
  margin-bottom: 1px;
  color: white;
  text-shadow: none; }

.page-head {
  position: fixed;
  top: 0;
  left: 200px;
  padding: 20px;
  background-color: #ecf0f1;
  z-index: 99;
  width: calc(100% \- 200px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; }
  .page-head a {
    margin-right: 97px;
    color: #777777;
    transition: 0.15s left, 0.15s opacity, 0.15s background-color, 0.15s color; }
  .page-head a:hover {
    color: #3498db;
    text-decoration: none; }
  .page-head i {
    margin: 0 10px;
    font-size: 16px;
    color: #777777; }

.settings-panel {
  color: #777777; }
  .settings-panel .disclaimer {
    font-style: italic; }
  .settings-panel #topic-form-settings label, .settings-panel #ignore-form-settings label {
    display: block; }
  .settings-panel #topic-form-settings input.form-control, .settings-panel #ignore-form-settings input.form-control {
    display: inline-block; }
  .settings-panel #topic-form-settings input[type="text"], .settings-panel #ignore-form-settings input[type="text"] {
    width: 290px; }
  .settings-panel #topic-form-settings button.btn-default, .settings-panel #ignore-form-settings button.btn-default {
    border: none;
    background-color: #bdc3c7;
    color: white;
    margin-left: 5px; }
  .settings-panel #channel-modes {
    border-top: 1px solid #ecf0f1;
    margin-top: 25px;
    padding-top: 10px; }

.user-list {
  list-style: none;
  padding: 0;
  position: fixed;
  margin-top: 100px;
  width: 15%;
  height: calc(100% - 240px);
  overflow-y: scroll; }
  .user-list li {
    margin-bottom: 9px;
    color: #bdc3c7;
    position: relative;
    font-size: 11px; }
    .user-list li h3 {
      font-size: 14px;
      margin: 0; }
      .user-list li h3 a {
        color: #777777; }
      .user-list li h3 a:hover {
        color: #3498db; }
      .user-list li h3 a.away {
        color: #bdc3c7; }
      .user-list li h3 a.away:hover {
        color: #3498db; }
      .user-list li h3 .glyphicon {
        font-size: 12px;
        top: 0; }
      .user-list li h3 .mod {
        color: #ecf0f1;
        background-color: #bdc3c7;
        font-weight: bold;
        font-size: 10px;
        padding: 0 2px 1px;
        border-radius: 3px;
        position: relative;
        bottom: 1px; }

.request-notifications-container {
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 101; }

.request-notifications {
  position: relative;
  left: -50%;
  background-color: #3498db;
  color: #ecf0f1;
  padding: 6px 20px 4px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #2980b9; }
  .request-notifications a {
    color: #ecf0f1;
    text-decoration: underline; }

.navbar-fixed-top {
  z-index: 100; }

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  background-color: #ecf0f1; }

.badge-important {
  background-color: #3498db; }

.btn-two {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: 0.3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: whitesmoke;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, white, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }

.btn-two:hover,
.btn-two:focus,
.btn-two:active,
.btn-two.active,
.btn-two.disabled,
.btn-two[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9; }

.btn-two:active,
.btn-two.active {
  background-color: #cccccc \9; }

.btn-two:first-child {
  *margin-left: 0; }

.btn-two:hover,
.btn-two:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear; }

.btn-two:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn-two.active,
.btn-two:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

.btn-two.disabled,
.btn-two[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
