/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Extra small devices (phones, 480px and down) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
body {
  background-color: #ecf0f1;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 52px;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, sans-serif; }
  @media (min-width: 768px) {
    body {
      padding-top: 66px; } }

#relay-nav {
  background-color: #ecf0f1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  border-color: #bdc3c7;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  z-index: 100; }
  #relay-nav .search {
    display: none;
    float: left;
    position: relative;
    margin-left: 50px; }
    @media (min-width: 768px) {
      #relay-nav .search {
        display: block; } }
    #relay-nav .search input {
      border-radius: 13px;
      height: 26px;
      margin: 20px 0;
      width: 230px;
      border: none;
      padding-left: 26px; }
    #relay-nav .search .batch-icon {
      position: absolute;
      top: 27px;
      left: 8px;
      color: #bdc3c7;
      font-size: 14px;
      text-shadow: none; }
  @media (max-width: 480px) {
    #relay-nav .navbar-brand img {
      width: 50px;
      height: 21px; } }
  #relay-nav .navbar-nav li.open {
    background: none; }
  #relay-nav .navbar-nav li.signup > a {
    display: inline-block;
    margin: 15px 15px;
    padding: 8px 18px;
    border-radius: 4px;
    border: 1px solid white; }
  #relay-nav .navbar-nav li.signup > a:hover {
    color: #3498db;
    background-color: white; }
  #relay-nav .navbar-nav > li > a:hover {
    color: #333333; }
    #relay-nav .navbar-nav > li > a:hover .caret {
      border-top-color: #333333;
      border-bottom-color: #333333; }
  #relay-nav .navbar-nav > li.open > a {
    background-color: #ecf0f1;
    color: #333333; }
  #relay-nav .navbar-nav > li > a {
    color: #777777;
    padding: 23px 15px;
    text-shadow: none; }
    #relay-nav .navbar-nav > li > a .caret {
      border-top-color: #777777;
      border-bottom-color: #777777; }
    #relay-nav .navbar-nav > li > a .line {
      display: inline-block;
      border-right: 1px solid #bdc3c7;
      height: 18px;
      margin: -3px 7px; }
  #relay-nav .navbar-btn {
    background-color: #3498db;
    color: white;
    border-color: #3498db; }
  #relay-nav .navbar-collapse {
    border-color: #bdc3c7; }
  #relay-nav .navbar-toggle {
    border-color: #ecf0f1;
    background-color: #ecf0f1; }
    #relay-nav .navbar-toggle .icon-bar {
      color: #777777;
      background-color: #777777; }
  #relay-nav .navbar-inverse-toggle, #relay-nav .navbar-toggle:hover {
    border-color: #bdc3c7;
    background-color: #bdc3c7; }

#relay-nav.home {
  background-color: #3498db;
  border: none;
  text-shadow: none;
  box-shadow: none; }
  #relay-nav.home .search {
    display: none; }
  #relay-nav.home .navbar-nav > li > a {
    color: white; }
  #relay-nav.home .navbar-collapse {
    border-color: #2980b9; }
  #relay-nav.home .navbar-toggle {
    border-color: #3498db;
    background-color: #3498db; }
    #relay-nav.home .navbar-toggle .icon-bar {
      color: white;
      background-color: white; }
  #relay-nav.home .navbar-inverse-toggle, #relay-nav.home .navbar-toggle:hover {
    border-color: #2980b9;
    background-color: #2980b9; }

.home-top {
  background-color: #3498db;
  color: #798795;
  font-size: 16px;
  text-align: center;
  padding-bottom: 150px; }
  .home-top img {
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.35);
    max-width: 75%; }
  .home-top .container {
    text-align: center; }
    .home-top .container h1 {
      font-size: 64px;
      color: white;
      font-weight: bold; }
      @media (min-width: 992px) {
        .home-top .container h1 {
          font-size: 114px; } }
    .home-top .container h4 {
      color: rgba(255, 255, 255, 0.6);
      margin-bottom: 50px;
      font-size: 14px; }
      @media (min-width: 992px) {
        .home-top .container h4 {
          font-size: 19px;
          margin-bottom: 100px; } }
    .home-top .container .irssi {
      margin: 0 0 20px 0; }
      @media (min-width: 768px) {
        .home-top .container .irssi {
          margin: 0 75px 0 0; } }
  @media (min-width: 768px) {
    .home-top {
      text-align: left; } }
  @media (min-width: 1200px) {
    .home-top {
      font-size: 21px; } }
  .home-top h1 {
    color: white; }
    @media (min-width: 992px) {
      .home-top h1 {
        font-size: 60px;
        letter-spacing: -1px; } }
  .home-top p {
    font-weight: 400;
    line-height: 1.5; }
  .home-top a {
    color: #3498db; }
  .home-top a:hover {
    color: #2980b9; }
  .home-top #signup {
    display: none; }
    .home-top #signup input, .home-top #signup button {
      margin-bottom: 15px;
      border: none;
      padding: 8px 12px;
      width: 100%;
      height: auto; }

.home-middle {
  background-color: #ecf0f1;
  color: #666666;
  padding-bottom: 75px; }
  .home-middle .container p {
    line-height: 1.5;
    font-size: 16px;
    margin: 75px auto 100px;
    text-align: left; }
  .home-middle .container .feature-row h3 .glyphicon, .home-middle .container .feature-row h3 .batch-icon {
    color: #aaaaaa; }

.signin-container, .signup-container {
  color: #777777; }
  .signin-container .centerer, .signup-container .centerer {
    max-width: 400px;
    margin: 0 auto; }
  .signin-container h2, .signup-container h2 {
    font-size: 60px;
    color: #3498db;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 50px; }
  .signin-container footer, .signup-container footer {
    text-align: center;
    margin: 100px 0 20px;
    color: #999999;
    font-size: 11px; }
    @media (min-width: 768px) {
      .signin-container footer, .signup-container footer {
        font-size: 14px; } }
  .signin-container #signin input, .signin-container #signup input, .signup-container #signin input, .signup-container #signup input {
    border: 2px solid #bdc3c7;
    box-shadow: none;
    margin-bottom: 15px; }
  .signin-container #signin input, .signin-container #signin button, .signin-container #signup input, .signin-container #signup button, .signup-container #signin input, .signup-container #signin button, .signup-container #signup input, .signup-container #signup button {
    padding: 8px 12px;
    height: auto; }
  .signin-container #signin input:hover, .signin-container #signup input:hover, .signup-container #signin input:hover, .signup-container #signup input:hover {
    border-color: #95a5a6; }
  .signin-container #signin input:focus, .signin-container #signup input:focus, .signup-container #signin input:focus, .signup-container #signup input:focus {
    border-color: #3498db; }
  .signin-container #signin input.parsley-error, .signin-container #signup input.parsley-error, .signup-container #signin input.parsley-error, .signup-container #signup input.parsley-error {
    border-color: #e74c3c; }
  .signin-container #signin .btn, .signin-container #signup .btn, .signup-container #signin .btn, .signup-container #signup .btn {
    border: none;
    transition: background-color ease-in-out 0.15s;
    margin-top: 15px;
    padding: 10px;
    width: 50%; }
  .signin-container #signin .btn:focus, .signin-container #signup .btn:focus, .signup-container #signin .btn:focus, .signup-container #signup .btn:focus {
    background-color: #2980b9; }
  .signin-container #signin .forgot, .signin-container #signin .github, .signin-container #signup .forgot, .signin-container #signup .github, .signup-container #signin .forgot, .signup-container #signin .github, .signup-container #signup .forgot, .signup-container #signup .github {
    width: 50%;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 10px; }
  @media (max-width: 480px) {
    .signin-container #signup .github, .signin-container #signup .btn, .signup-container #signup .github, .signup-container #signup .btn {
      width: 100%; } }

.channel-container {
  overflow: hidden; }
  @media (min-width: 992px) {
    .channel-container {
      padding-top: 100px; } }
  .channel-container .alert {
    text-align: center; }
  .channel-container .buttons {
    position: absolute;
    top: 19px;
    right: 0; }
    .channel-container .buttons a {
      border: none;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 3px;
      display: inline-block;
      font-size: 10px;
      padding: 3px 12px; }
    .channel-container .buttons a:hover {
      text-decoration: none; }
    .channel-container .buttons .add-bot {
      background-color: #3498db;
      box-shadow: 0 2px 0 #2980b9; }
    .channel-container .buttons .settings {
      background-color: silver;
      box-shadow: 0 2px 0 #95a5a6; }
  .channel-container .user-count {
    color: #777777; }
  .channel-container .user-count:hover {
    cursor: pointer;
    text-decoration: underline; }
  .channel-container .load-more {
    display: block;
    width: 200px;
    margin: 0 auto 15px; }
  .channel-container .channel-header {
    width: 100%;
    padding: 5px 15px;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    z-index: 98;
    background-color: #ecf0f1;
    box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #bdc3c7; }
    @media (min-width: 768px) {
      .channel-container .channel-header {
        width: 625px;
        top: 66px;
        padding: 15px; } }
    @media (min-width: 992px) {
      .channel-container .channel-header {
        width: 808px;
        padding: 15px; } }
    @media (min-width: 1200px) {
      .channel-container .channel-header {
        width: 975px;
        padding: 15px; } }
    .channel-container .channel-header .navbar-toggle {
      margin: 0; }
      .channel-container .channel-header .navbar-toggle .icon-bar {
        background-color: #777777; }
    .channel-container .channel-header .channel-breadcrumb {
      color: #777777;
      margin-top: 4px; }
      @media (min-width: 992px) {
        .channel-container .channel-header .channel-breadcrumb {
          margin: 0; } }
      .channel-container .channel-header .channel-breadcrumb .batch-icon {
        color: #bdc3c7;
        font-size: 18px;
        margin-right: 4px; }
      .channel-container .channel-header .channel-breadcrumb h3 {
        display: inline;
        font-size: 20px; }
      .channel-container .channel-header .channel-breadcrumb .channel-name {
        color: #777777;
        font-weight: bold; }
      .channel-container .channel-header .channel-breadcrumb .slash {
        font-size: 18px;
        color: silver; }
    .channel-container .channel-header .topic, .channel-container .channel-header #topic-form {
      display: none;
      font-size: 14px;
      color: #666666;
      margin-top: 5px; }
      @media (min-width: 768px) {
        .channel-container .channel-header .topic, .channel-container .channel-header #topic-form {
          display: block; } }
      .channel-container .channel-header .topic .topic-edit, .channel-container .channel-header .topic .topic-edit > a, .channel-container .channel-header #topic-form .topic-edit, .channel-container .channel-header #topic-form .topic-edit > a {
        color: #bdc3c7; }
    .channel-container .channel-header .glyphicon {
      color: #bdc3c7; }
    .channel-container .channel-header .channel-settings, .channel-container .channel-header .channel-notifications, .channel-container .channel-header .channel-mute {
      position: absolute;
      top: 15px;
      color: #777777;
      font-size: 21px;
      display: none; }
      @media (min-width: 768px) {
        .channel-container .channel-header .channel-settings, .channel-container .channel-header .channel-notifications, .channel-container .channel-header .channel-mute {
          top: 17px; } }
      @media (min-width: 768px) {
        .channel-container .channel-header .channel-settings, .channel-container .channel-header .channel-notifications, .channel-container .channel-header .channel-mute {
          right: 150px;
          font-size: 14px;
          display: block; } }
      .channel-container .channel-header .channel-settings .glyphicon, .channel-container .channel-header .channel-notifications .glyphicon, .channel-container .channel-header .channel-mute .glyphicon {
        position: relative;
        top: 1px; }
      @media (min-width: 768px) {
        .channel-container .channel-header .channel-settings .hidden-xs, .channel-container .channel-header .channel-notifications .hidden-xs, .channel-container .channel-header .channel-mute .hidden-xs {
          display: inline !important; } }
      .channel-container .channel-header .channel-settings .batch-icon, .channel-container .channel-header .channel-notifications .batch-icon, .channel-container .channel-header .channel-mute .batch-icon {
        color: #bdc3c7;
        font-size: 19px;
        margin-right: 6px; }
        @media (min-width: 768px) {
          .channel-container .channel-header .channel-settings .batch-icon, .channel-container .channel-header .channel-notifications .batch-icon, .channel-container .channel-header .channel-mute .batch-icon {
            font-size: 14px; } }
      .channel-container .channel-header .channel-settings .badge, .channel-container .channel-header .channel-notifications .badge, .channel-container .channel-header .channel-mute .badge {
        padding: 2px 4px 1px;
        font-size: 9px;
        background-color: #3498db;
        position: absolute;
        left: 9px;
        top: 4px; }
        @media (min-width: 768px) {
          .channel-container .channel-header .channel-settings .badge, .channel-container .channel-header .channel-notifications .badge, .channel-container .channel-header .channel-mute .badge {
            left: 7px;
            top: -1px; } }
    .channel-container .channel-header .channel-settings {
      right: 15px; }
    .channel-container .channel-header .channel-notifications {
      right: 105px; }
    .channel-container .channel-header .channel-mute {
      right: 220px; }
    .channel-container .channel-header .channel-settings:hover, .channel-container .channel-header .channel-notifications:hover, .channel-container .channel-header .channel-settings.active, .channel-container .channel-header .channel-notifications.active, .channel-container .channel-header .channel-mute:hover {
      color: #3498db;
      text-decoration: none; }
      .channel-container .channel-header .channel-settings:hover .batch-icon, .channel-container .channel-header .channel-settings:hover .glyphicon, .channel-container .channel-header .channel-notifications:hover .batch-icon, .channel-container .channel-header .channel-notifications:hover .glyphicon, .channel-container .channel-header .channel-settings.active .batch-icon, .channel-container .channel-header .channel-settings.active .glyphicon, .channel-container .channel-header .channel-notifications.active .batch-icon, .channel-container .channel-header .channel-notifications.active .glyphicon, .channel-container .channel-header .channel-mute:hover .batch-icon, .channel-container .channel-header .channel-mute:hover .glyphicon {
        color: rgba(52, 152, 219, 0.5); }
    .channel-container .channel-header .channel-invite {
      display: none;
      position: absolute;
      top: 14px;
      right: 15px;
      color: #3498db;
      border: 1px solid #3498db;
      background-color: transparent;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px; }
    .channel-container .channel-header .channel-invite:hover {
      color: white;
      background-color: #3498db; }
    .channel-container .channel-header .invite-dropdown {
      padding: 10px;
      right: 15px;
      left: auto;
      top: 42px !important;
      bottom: auto !important; }
      .channel-container .channel-header .invite-dropdown input {
        margin-right: 5px;
        display: inline-block;
        width: 200px; }
    .channel-container .channel-header #topic-form {
      display: none; }
    .channel-container .channel-header .channel-header-collapse .navbar-nav .divider {
      height: 1px;
      background-color: #bdc3c7;
      margin: 8px 0; }
    .channel-container .channel-header .channel-header-collapse .navbar-nav .dropdown-header {
      text-transform: uppercase;
      font-size: 10px; }
    .channel-container .channel-header .channel-header-collapse .navbar-nav li > a:hover {
      background-color: #bdc3c7; }

.channels {
  color: #777777;
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  position: fixed; }
  @media (min-width: 992px) {
    .channels {
      width: 132px; } }
  @media (min-width: 1200px) {
    .channels {
      width: 165px; } }
  @media (max-width: 480px) {
    .channels {
      width: 100%;
      position: relative;
      display: none; } }
  .channels li .close {
    display: none;
    font-size: 18px; }
  .channels li .glyphicon-lock {
    font-size: 12px;
    top: -1px;
    margin-right: -6px; }
  .channels li .batch-icon {
    font-size: 12px;
    color: #bdc3c7; }
  .channels li a, .channels li form > input {
    color: #777777;
    transition: 0.15s background-color, 0.15s color;
    display: inline-block; }
  .channels li a:hover {
    text-decoration: none; }
  .channels li a > .badge {
    position: relative;
    top: -2px;
    padding: 2px 6px;
    font-size: 10px; }
  .channels .section {
    color: #bdc3c7;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    margin-bottom: -2px;
    margin-top: 22px; }
  .channels .channel {
    padding: 1px 5px;
    margin: -1px 0 -1px -5px;
    border-radius: 5px; }
    .channels .channel .hash {
      color: #bdc3c7; }
  .channels .channel:hover {
    background-color: #e0e4e5; }
    .channels .channel:hover .close {
      display: inline-block; }
  .channels .channel.selected .glyphicon, .channels .channel.selected .batch-icon {
    color: #3498db; }
  .channels .channel.selected .hash {
    font-weight: 400;
    color: #3498db; }
  .channels .selected > a,
  .channels .selected:hover > a {
    color: #3498db;
    transition: 0.15s background-color, 0.15s color;
    font-weight: 600; }
  .channels .new-channel-li {
    color: #bdc3c7;
    font-size: 12px;
    position: relative;
    margin-top: 7px; }
    .channels .new-channel-li .new-channel-link:hover {
      cursor: pointer;
      color: #3498db; }
    .channels .new-channel-li .glyphicon {
      font-size: 9px; }
    .channels .new-channel-li .new-channel-form {
      display: none; }
      .channels .new-channel-li .new-channel-form .pound {
        position: absolute;
        top: 5px;
        left: 7px;
        font-size: 14px; }
      .channels .new-channel-li .new-channel-form .new-channel-input {
        font-size: 14px;
        padding-left: 14px;
        height: 30px; }

.settings-panel {
  color: #777777; }
  .settings-panel .disclaimer {
    font-style: italic; }
  .settings-panel #topic-form-settings label, .settings-panel #ignore-form-settings label {
    display: block; }
  .settings-panel #topic-form-settings input.form-control, .settings-panel #ignore-form-settings input.form-control {
    display: inline-block; }
  .settings-panel #topic-form-settings input[type="text"], .settings-panel #ignore-form-settings input[type="text"] {
    width: 290px; }
  .settings-panel #topic-form-settings button.btn-default, .settings-panel #ignore-form-settings button.btn-default {
    border: none;
    background-color: #bdc3c7;
    color: white;
    margin-left: 5px; }
  .settings-panel #channel-modes {
    border-top: 1px solid #ecf0f1;
    margin-top: 25px;
    padding-top: 10px; }

.user-list {
  list-style: none;
  padding: 0;
  position: fixed;
  margin-top: 100px;
  width: 15%;
  height: calc(100% - 240px);
  overflow-y: scroll; }
  .user-list li {
    margin-bottom: 9px;
    color: #bdc3c7;
    position: relative;
    font-size: 11px; }
    .user-list li h3 {
      font-size: 14px;
      margin: 0; }
      .user-list li h3 a {
        color: #777777; }
      .user-list li h3 a:hover {
        color: #3498db; }
      .user-list li h3 a.away {
        color: #bdc3c7; }
      .user-list li h3 a.away:hover {
        color: #3498db; }
      .user-list li h3 .glyphicon {
        font-size: 12px;
        top: 0; }
      .user-list li h3 .mod {
        color: #ecf0f1;
        background-color: #bdc3c7;
        font-weight: bold;
        font-size: 10px;
        padding: 0 2px 1px;
        border-radius: 3px;
        position: relative;
        bottom: 1px; }

.input-container {
  padding: 15px; }
  .input-container #say-input {
    border: 2px solid #bdc3c7;
    box-shadow: none; }
  .input-container #say-input:hover {
    border-color: #95a5a6; }
  .input-container #say-input:focus {
    border-color: #3498db; }
  .input-container .typeahead.dropdown-menu {
    top: auto !important;
    bottom: 60px !important; }

.messages .message {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  padding: 10px 12px;
  color: #777777;
  position: relative;
  transition: 0.15s left, 0.15s opacity, 0.15s background-color, 0.15s color, 1s border-color;
  border: 1px solid transparent; }
  .messages .message a:link {
    color: #3498db; }
  .messages .message p {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    word-wrap: break-word;
    cursor: text;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text; }
    .messages .message p img {
      max-width: 100%;
      max-height: 70vh; }
      @media (min-width: 768px) {
        .messages .message p img {
          max-height: 60vh; } }
    .messages .message p a {
      font-weight: 400; }
  .messages .message .reply, .messages .message small, .messages .message p {
    transition: 0.15s left, 0.15s opacity, 0.15s background-color, 0.15s color; }
  .messages .message .reply {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
    box-sizing: content-box;
    color: #bdc3c7; }
    .messages .message .reply .normal {
      display: none; }
    .messages .message .reply .operator {
      display: inline-block;
      color: #3498db;
      font-size: 10px; }
    .messages .message .reply a {
      color: #777777; }
    .messages .message .reply a:hover {
      color: #3498db; }
    .messages .message .reply .glyphicon-time {
      color: #bdc3c7;
      font-size: 12px; }
    .messages .message .reply .away-since {
      margin-left: 2px;
      color: #bdc3c7;
      font-size: 12px; }
    .messages .message .reply .mod {
      color: white;
      background-color: #e7ebec;
      font-weight: bold;
      font-size: 10px;
      padding: 0 2px 1px 2px;
      border-radius: 3px;
      position: relative;
      bottom: 1px;
      margin-right: 5px; }
  .messages .message .muted.time {
    color: rgba(0, 0, 0, 0);
    font-size: 12px; }
  .messages .message .divider {
    width: 100%;
    border-bottom: 1px solid #ecf0f1;
    margin: 0 0 10px 0; }
  .messages .message .actions {
    font-size: 12px;
    display: none; }
  .messages .message .action {
    font-size: 12px;
    display: inline; }
    .messages .message .action .glyphicon {
      color: #bdc3c7; }
  .messages .message .action:hover {
    color: #3498db;
    cursor: pointer; }
    .messages .message .action:hover .glyphicon {
      color: #3498db; }
  .messages .message .convo {
    display: inline-block;
    margin-top: 8px;
    color: #bdc3c7; }
    .messages .message .convo .batch-icon {
      font-size: 10px; }
  .messages .message .pm-icon {
    position: relative;
    bottom: -1px;
    font-size: 14px; }
  .messages .message .banned {
    color: #e74c3c;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px; }
  .messages .message iframe {
    width: 260px;
    height: 195px; }
    @media (min-width: 768px) {
      .messages .message iframe {
        width: 400px;
        height: 300px; } }
.messages .message:hover .actions {
  display: inline; }
.messages .message:hover .muted.time {
  color: rgba(0, 0, 0, 0.2); }
.messages .touch:hover .actions {
  display: none; }
.messages .bot {
  background-color: #bdc3c7;
  color: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.18); }
  .messages .bot p {
    font-family: Roboto;
    font-size: 18px;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px; }
  .messages .bot .reply {
    color: white; }
.messages .offline .reply, .messages .offline small, .messages .offline p {
  opacity: 0.4; }
.messages .offline .actions {
  display: none; }
.messages .offline .divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.02); }
.messages .join {
  margin-top: -20px; }
.messages .info {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding-top: 8px;
  padding-bottom: 8px; }
  .messages .info .reply, .messages .info .actions {
    display: none; }
  .messages .info p {
    color: #999999;
    text-shadow: 0 1px 0 white;
    font-weight: 600;
    font-size: 14px; }
    .messages .info p a {
      font-weight: 600; }
.messages .mention {
  border: 1px solid #3498db; }
.messages .message.faded .reply, .messages .message.faded small, .messages .message.faded p {
  opacity: 0.2; }
.messages .message.faded .divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.02); }

.user-profile {
  position: relative;
  top: 25px; }
  .user-profile .first.vcard {
    color: #777777; }
    .user-profile .first.vcard .name {
      font-size: 26px;
      font-weight: bold; }
    .user-profile .first.vcard .stats .joined-on {
      color: #bdc3c7; }
    .user-profile .first.vcard .btn {
      margin-top: 10px; }
  .user-profile .last {
    color: #777777;
    font-weight: bold; }
    .user-profile .last .user-channels {
      list-style: none; }
      .user-profile .last .user-channels li .name {
        font-size: 16px; }
      .user-profile .last .user-channels li .topic {
        font-size: 14px;
        color: #999999;
        margin: 0 0 12px 0;
        font-weight: normal; }

.channel-list {
  list-style: none;
  margin-top: 25px;
  padding: 0; }
  .channel-list li {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: #777777;
    position: relative; }
    .channel-list li .batch-icon {
      float: left;
      color: #bdc3c7;
      font-size: 28px;
      margin-right: 10px; }
    .channel-list li h3 {
      font-size: 20px;
      margin: 0; }
    .channel-list li .user-count {
      position: absolute;
      top: 0;
      right: 0;
      color: #777777;
      display: inline-block;
      font-size: 12px; }
      .channel-list li .user-count .glyphicon {
        color: #bdc3c7;
        top: 0; }

.explore-nav {
  margin-top: 25px; }

.request-notifications-container {
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 101; }
  .request-notifications-container .request-notifications {
    position: relative;
    left: -50%;
    background-color: #3498db;
    color: #ecf0f1;
    padding: 6px 20px 4px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #2980b9; }
    .request-notifications-container .request-notifications a {
      color: #ecf0f1;
      text-decoration: underline; }

.parsley-errors-list {
  margin-top: -10px; }
  .parsley-errors-list li {
    font-weight: bold;
    color: #e74c3c;
    font-size: 13px; }
