@import "media-queries"
@import "prefixes"
@import "colors"

body
  background-color: $clouds
  padding-top: 50px
  -webkit-font-smoothing: antialiased
  //font-family: 'Open Sans', Helvetica, sans-serif

// Random shit
.fixed-width
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace

.underline
  text-decoration: underline

code
  color: #777
  font-size: 14px
  border: 1px solid #e1e1e8
  background-color: #f7f7f9

.btn-primary
  background-color: $peter-river

a
  color: $peter-river

.thumbnail
  background-color: white

input.form-control::-webkit-input-placeholder
  color: rgba(0, 0, 0, 0.3)
input.form-control
  border: 2px solid $silver
  box-shadow: none
  -webkit-appearance: none
input.form-control:hover
  border-color: $concrete
  -webkit-appearance: none
input.form-control:focus
  border-color: $peter-river
  box-shadow: none
  -webkit-appearance: none

label
  color: #777
.modal-backdrop.in
  opacity: 0.5
  filter: alpha(opacity=50)

// Nav
.idletron-nav
  background-color: $wet-asphalt
  text-shadow: 0 -1px 0 rgba(0,0,0,.15)
  border-color: $midnight-blue
  box-shadow: 0 1px 0 rgba(255,255,255,.1)
  .navbar-brand
    color: #FFF
  .navbar-toggle
    border-color: $wet-asphalt
  .navbar-toggle:hover
    border-color: $midnight-blue
  .navbar-nav > li > a
    color: #798795
  .navbar-btn
    background-color: $peter-river
    color: #FFF
    border-color: $peter-river

// Sign up
.marketing-section-signup
  background-color: $wet-asphalt
  padding: 80px 0
  color: #798795
  font-size: 16px
  text-align: center
  +tablet-portrait-and-above
    text-align: left
  +desktop
    font-size: 21px
  h1
    +desktop
      font-size: 60px
    color: #FFF
  p
    font-weight: 400
    line-height: 1.5
  a
    color: $peter-river
  a:hover
    color: #2980B9
  #signup
    input, button
      margin-bottom: 15px
      border: none
      padding: 8px 12px
      width: 100%
      height: auto

// Sign in
.signin-container
  color: #777
  .col-sm-5
    +tablet-portrait-and-above
      margin-left: 29%
    margin-top: 50px
  #signin
    input
      border: 2px solid $silver
      box-shadow: none
      margin-bottom: 15px
    input, button
      padding: 8px 12px
      height: auto
    input:hover
      border-color: $concrete
    input:focus
      border-color: $peter-river
    .btn
      border: none
      transition: background-color ease-in-out .15s
      margin-top: 15px
      padding: 10px
    .btn:focus
      background-color: $belize-hole

// Message input
.input-container
  //position: fixed
  padding: 15px
  #say-input
    border: 2px solid $silver
    box-shadow: none
  #say-input:hover
    border-color: $concrete
  #say-input:focus
    border-color: $peter-river
  

// Channels
.channel-container
  padding-top: 108px
  .alert
    text-align: center
  .buttons
    position: absolute
    top: 19px
    right: 0
    a
      border: none
      color: white
      font-weight: bold
      text-transform: uppercase
      border-radius: 3px
      display: inline-block
      font-size: 10px
      padding: 3px 12px
    a:hover
      text-decoration: none
    .add-bot
      background-color: $peter-river
      box-shadow: 0 2px 0 $belize-hole
    .settings
      background-color: silver
      box-shadow: 0 2px 0 $concrete
  .user-count
    color: #777
.channels
  @media screen and (min-width: 992px)
    width: 213px
  @media screen and (min-width: 1200px)
    width: 263px
  color: #777
  list-style: none
  font-size: 18px
  padding: 0
  margin: 0
  margin-top: 25px
  position: fixed
  +mobile-portrait
    width: 100%
    position: relative
    display: none
  li
    button 
      display: none
      line-height: normal
    .glyphicon-lock
      font-size: 12px
      top: -1px
      margin-right: -6px
    .batch-icon
      margin-right: -4px
    a, form > input 
      color: #777
      transition: .15s background-color, .15s color
      padding: 4px
      display: inline-block
    a:hover
      color: $peter-river
      text-decoration: none
  li.channel:hover
    button 
      display: inline-block
    .glyphicon, .batch-icon
      color: $peter-river
  .selected
    .glyphicon, .batch-icon
      color: $peter-river
  .selected > a,
  .selected:hover > a
    color: $peter-river
    transition: .15s background-color, .15s color
    font-weight: 500
  .new-channel-li
    margin-top: 10px
    position: relative
    //.new-channel-link
      //color: $silver
    //.new-channel-link:hover
      //cursor: pointer
      //color: #777
    .new-channel-form
      display: none
      .pound
        position: absolute
        top: 6px
        left: 7px
        font-size: 16px
      .new-channel-input
        font-size: 16px
        padding-left: 14px

.messages, .notifications
  margin: 0

.channel-header
  @media (min-width: 768px)
    width: 562px
  @media (min-width: 992px)
    width: 727px
  @media (min-width: 1200px)
    width: 877px
  width: 100%
  overflow-y: hidden
  position: fixed
  top: 50px
  z-index: 98
  background-color: $clouds
  padding: 15px
  .channel-breadcrumb
    color: #777
    h3
      display: inline
      font-size: 21px
      .batch-icon
        font-size: 21px
        color: $silver
        position: relative
        bottom: -3px
    .channel-name
      color: #777
      font-weight: bold
    .slash
      font-size: 18px
      color: silver
  .topic
    display: none
    font-size: 16px
    color: #666
    margin-top: 15px
    border-top: 1px solid #ccc
    padding-top: 15px
    +tablet-landscape-and-above
      display: block
    .topic-edit, .topic-edit > a
      color: $silver
  .glyphicon
    color: $silver
  .channel-settings
    position: absolute
    top: 17px
    right: 15px
    color: #777
    font-size: 21px
    +tablet-portrait-and-above
      right: 150px
      font-size: 14px
    .glyphicon
      position: relative
      top: 1px
    .hidden-xs
      +tablet-portrait-and-above
        display: inline!important
  .channel-invite
    position: absolute
    top: 14px
    right: 15px
    color: $peter-river
    border: 1px solid $peter-river
    background-color: transparent
    font-size: 10px
    text-transform: uppercase
    font-weight: 700
    letter-spacing: 1px
  .channel-invite:hover
    color: white
    background-color: $peter-river

  #topic-form
    display: none

.btn-primary-outline
  color: $peter-river
  border: 1px solid $peter-river
  background-color: transparent
  font-size: 10px
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 1px
  .glyphicon-plus
    font-size: 8px
    top: -1px

.btn-primary-outline:hover
  color: white
  background-color: $peter-river
  border: 1px solid $peter-river

// Messages
.messages
  .message
    background-color: #fff
    border-radius: 4px
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1)
    margin-bottom: 10px
    padding: 10px 15px 11px 15px
    color: #777
    position: relative
    transition: .15s left, .15s opacity, .15s background-color, .15s color
    p
      font-size: 16px
      line-height: 21px
      font-weight: 400
      margin: 0
      word-wrap: break-word
      img
        max-width: 100%
        max-height: 50vh
      a
        font-weight: 400
    .reply, small, p
      transition: .15s left, .15s opacity, .15s background-color, .15s color
    .reply
      font-size: 12px
      display: inline-block
      margin-bottom: 5px
      box-sizing: content-box
      .away-since
        margin-left: 2px
        color: $silver
      .normal
        display: none
      .operator
        display: inline-block
        color: $peter-river
        font-size: 10px
      a
        color: #777
      .glyphicon-time
        top: 0
        color: #BDC3C7
    .reply:hover 
      //border-bottom: 1px solid #ccc
      //cursor: pointer
    .muted
      color: rgba(0,0,0,0.2)
      font-size: 12px
    .divider
      width: 100%
      border-bottom: 1px solid rgba(0,0,0,0.06)
      margin: 0 0 10px 0
    .actions
      font-size: 12px
      display: none
      .action
        display: inline
        .glyphicon
          color: #BDC3C7
      .action:hover
        color: #333
        cursor: pointer
        .glyphicon
          color: #777
  .message:hover
    .actions
      display: inline
  .touch:hover
    .actions
      display: none
      
  .bot
    background-color: $silver
    color: #FFF
    box-shadow: 0 2px 0 rgba(0,0,0,.3)
    p
      font-family: Menlo, monospace
    .reply
      color: #FFF
  .offline
    .reply, small, p
      opacity: 0.4
    .actions
      display: none
    .divider
      border-bottom: 1px solid rgba(0,0,0,0.02)
  .join
    margin-top: -20px
  .info
    background-color: rgba(0,0,0,0)
    box-shadow: none
    padding-top: 0px
    .reply, .actions
      display: none
    p
      color: black
      text-shadow: 0 1px 0 white
      opacity: 0.3
      font-weight: bold
      font-size: 14px
  .mention
    border: 1px solid $peter-river
  .bot
    background-color: $silver
  .message.faded
    background-color: #f7f9f9
    box-shadow: 0 2px 0 $clouds
    .reply, small, p
      opacity: 0.4
    .divider
      border-bottom: 1px solid rgba(0,0,0,0.02)

// User Profile
.user-profile
  position: relative
  top: 25px
  .first.vcard
    color: #777
    .name
      font-size: 26px
      font-weight: bold
    .stats
      .joined-on
        color: $silver
  .last
    color: #777
    font-weight: bold
    .user-channels
      list-style: none
      li
        .name
          font-size: 16px
        .topic
          font-size: 14px
          color: #999
          margin: 0 0 12px 0
          font-weight: normal

//.tt-dropdown-menu
  //top: calc(100% \- 85px) !important
  //background-color: rgba(0,0,0,0)
  //width: 760px
  //.tt-suggestions
    //padding-top: 5px
  //.tt-suggestion
    //padding: 3px 18px
    //width: 760px
    //box-sizing: border-box
    //color: rgba(0,0,0,0.2)
    //font-size: 16px
    //p
      //margin: 0
  //.tt-is-under-cursor
    //background-color: $peter-river
    //color: white

//.twitter-typeahead
  //width: 100%

.dropdown-menu
  top: auto!important
  bottom: 60px!important

.twitter-typeahead
  width: 100%
  .tt-hint
    display: block
    height: 34px
    padding: 6px 12px
    font-size: 14px
    line-height: 1.428571429
    border: 2px solid transparent
    border-radius: 4px
    color: #BDC3C7
    width: 100%
  .hint-small
    height: 30px
    padding: 5px 10px
    font-size: 12px
    border-radius: 3px
    line-height: 1.5
  .hint-large
    height: 45px
    padding: 10px 16px
    font-size: 18px
    border-radius: 6px
    line-height: 1.33
  .tt-dropdown-menu
    position: absolute
    bottom: 28px
    background-color: $peter-river
    color: #FFF
    padding: 5px 14px
    border-radius: 5px
    width: 100%

.notifications > .message
  color: #ECF0F1
  background-color: #3498DB
  box-shadow: 0 2px 0 #2980B9

.notifications > .message:hover
  cursor: pointer
  background-color: $belize-hole

.messages > li > a:link 
  color: #3498DB
form 
  margin: 0

.privacy-print
  color: rgba(255,255,255,0.3)

.badge-info
  background-color: $silver
  margin-left: 6px
  vertical-align: bottom
  margin-bottom: 1px
  color: white
  text-shadow: none

// Explore
.channel-list
  list-style: none
  margin-top: 25px
  padding: 0
  li
    border-bottom: 1px solid #ccc
    padding-bottom: 15px
    margin-bottom: 15px
    color: #777
    position: relative
    .batch-icon
      float: left
      color: $silver
      font-size: 28px
      margin-right: 10px
    h3
      font-size: 20px
      margin: 0
    .user-count
      position: absolute
      top: 0
      right: 0
      color: #777
      display: inline-block
      font-size: 12px
      .glyphicon
        color: $silver
        top: 0

.explore-nav
  margin-top: 25px

.page-head
  position: fixed
  top: 0
  left: 200px
  padding: 20px
  background-color: #ecf0f1
  z-index: 99
  width: calc(100% \- 200px)
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1)
  box-sizing: border-box
  a
    margin-right: 97px
    color: #777
    transition: .15s left, .15s opacity, .15s background-color, .15s color
  a:hover
    color: $peter-river
    text-decoration: none
  i
    margin: 0 10px
    font-size: 16px
    color: #777
.settings-section
  border-radius: 5px
  border: 1px solid silver
  background-color: white
  padding: 10px
  width: 760px
  box-sizing: border-box
  color: #777
  margin-top: 25px
  .section-heading
    font-size: 16px
    font-weight: bold

  .ignore-list
    width: 200px

.user-list
  list-style: none
  padding: 0
  li
    padding-bottom: 10px
    margin-bottom: 10px
    color: $silver
    position: relative
    h3
      font-size: 20px
      margin: 0

.notification-request-container
  text-align: center
  color: #777
  margin-top: 50px
  h3
    font-size: 20px
  span
    position: relative
    top: -15px
    color: #bbb
  input
    height: 30px
    background-color: #3498DB
    box-shadow: 0 4px 0 #2980B9
    border: none
    color: #ECF0F1
    font-weight: bold
    border-radius: 5px
    width: 50px
    margin-right: 12px
  a
    height: 30px
    background-color: silver
    box-shadow: 0 4px 0 concrete
    border: none
    color: #ECF0F1
    font-weight: bold
    border-radius: 5px
    width: 50px
    margin-right: 12px
    display: inline-block
    padding-top: 4px
    box-sizing: border-box

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus
  background-color: $clouds

.badge-important
  background-color: $peter-river

