<template name="channels">
  <ul class="channels">
    {{#if currentUser}}
      <li class="all-channels {{all}}">
        <a href="/">
          All channels
        </a>
      </li>
    {{/if}}
    {{#each channels}}
      {{> channel}}
    {{/each}}
    {{#if currentUser}}
      <li class="new-channel-li">
        <span class="new-channel-link">+ Add channel</span>
        <form class="new-channel-form">
          <input type="text" class="new-channel-input form-control" autocomplete="off" placeholder="Add Channel">
        </form>
      </li>
    {{/if}}
  </ul>
</template>

<template name="channel">
  <li class="channel {{selected}}">
    {{#if private}}<i class="icon-lock"></i> {{/if}}
    <a href="/channels/{{url_name}}">
      {{.}}
      <span class="badge badge-info">{{unread}}</span>
      <span class="badge badge-important">{{unread_mentions}}</span>
    </a>
    <button type="button" class="close">&times;</button>
  </li>
</template>

