<template name="channel_mentions">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        {{> channels}}
      </div>
      <div class="channel-container col-sm-9">
        {{> channel_header}}
        {{> mentions}}
      </div>
    </div>
  </div>
</template>

<template name="mentions">
  {{#if loadMore}}
    <span class="load-more btn btn-default btn-primary-outline">
      load earlier messages
    </span>
  {{/if}}
  <ul class="messages nav nav-stacked">
    {{#each mentions}}
      {{> mention}}
    {{/each}}
  </ul>
</template>

<template name="mention">
  <li id="{{_id}}" data-nick="{{from}}" data-channel="{{channel}}" class="message {{readClass}}">
    <span class="reply">
      <a href="/users/{{from}}"><strong>{{from}}</strong></a>
      {{#if away}}
      <span class="glyphicon glyphicon-time" data-toggle="tooltip" title="Away for {{awaySince}}"></span>
      {{/if}}
    </span>
    &nbsp;
    <div class="actions">
      <div class="action reply-action">
        <span class="glyphicon glyphicon-share-alt"></span>
        Reply
      </div>
      &nbsp;
      <div class="action ignore-action">
        <span class="glyphicon glyphicon-volume-off"></span>
        Ignore
      </div>
    </div>
    <small class="muted pull-right">{{timeAgo}}</small>
    <p>{{text}}</p>
  </li>
</template>

