<template name="messages">
  <ul class="messages nav nav-stacked">
    {{#each messages}}
      {{> message}}
    {{/each}}
  </ul>
  {{#unless currentUser}}
    <div class="alert alert-info visible-xs">
      <strong>
        <a href="/" class="btn btn-primary">
          Sign up for free
        </a>
      </strong>
      &nbsp;&nbsp;or&nbsp;&nbsp;
      <a href="/login">
        Sign in to chat
      </a>
    </div>
    <div class="alert alert-info hidden-xs">
      <strong>
        <a href="/" class="btn btn-primary">
          Sign up for free
        </a>
        &nbsp;&nbsp;to join this discussion.
      </strong>
      Already have an account?
      <a href="/login">
        Sign in to chat
      </a>
    </div>
  {{/unless}}
</template>

<template name="message">
  {{#if joinToPrev}}
    <li id="{{_id}}" data-nick="{{from}}" data-channel="{{channel}}" class="message join {{message_class}}">
      <div class="divider"></div>
      <small class="muted pull-right">{{timeAgo}}</small>
      <p>{{text}}</p>
    </li>
  {{else}}
    <li id="{{_id}}" data-nick="{{from}}" data-channel="{{channel}}" class="message {{message_class}}">
      <span class="reply">
        <span class="{{status}}">&bull;</span>
        <a href="/users/{{from}}"><strong>{{from}}</strong></a>
        {{#if all}}
          <span class="muted">{{channel}}</span>
        {{/if}}
      </span>
      {{#unless self}}
        {{#if currentUser}}
          &nbsp;
          <div class="actions">
            <div class="action reply-action">
              <span class="glyphicon glyphicon-share-alt"></span>
              Replay
            </div>
            &nbsp;
            <div class="action ignore-action">
              <span class="glyphicon glyphicon-volume-off"></span>
              Ignore
            </div>
            {{#if op_status}}
              &nbsp;
              <div class="action kick">
                <span class="glyphicon glyphicon-share"></span>
                Kick
              </div>
              &nbsp;
              <div class="action">
                <span class="glyphicon glyphicon-ban-circle"></span>
                Ban
              </div>
            {{/if}}
            {{#if isConvo}}
              &nbsp;
              <div class="action convo">
                <span class="glyphicon glyphicon-comment"></span>
                View conversation
              </div>
            {{/if}}
          </div>
        {{/if}}
      {{/unless}}
      <small class="muted pull-right">{{timeAgo}}</small>
      <p>{{text}}</p>
    </li>
  {{/if}}
</template>

