<template name="channel_settings">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        {{> channels}}
      </div>
      <div class="channel-container col-sm-9">
        {{> channel_header}}
        {{> settings}}
      </div>
    </div>
  </div>
</template>

<template name="settings">
  {{#if op_status}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Options</h3>
      </div>
      <div class="panel-body">
        {{#constant}}
          <label class="checkbox {{private_checked}}" for="privateCheckbox">
            <input type="checkbox" value="" {{private_checked}} id="privateCheckbox" data-toggle="checkbox">
            Private
          </label>
        {{/constant}}
        <!--<input type="checkbox" value="" {{private_checked}} id="privateCheckbox" data-toggle="checkbox">-->
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="panel-body">
        Add/remove Operators<br/>
        Ban/unban
      </div>
    </div>

  {{/if}}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Invite users</h3>
    </div>
    <div class="panel-body">
      Invite users
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ignore</h3>
    </div>
    <div class="panel-body">
      <ul class="ignore-list list-group">
        {{#each ignore_list}}
          <li class="list-group-item">
            {{.}}
            <button type="button" class="close">&times;</button>
          </li>
        {{/each}}
      </ul>
      <form id="ignore-form" class="col-sm-6">
        <fieldset>
          <input type="text" class="form-control" id="inputIgnore" placeholder="Ignore user" autocomplete="off">
        </fieldset>
        <fieldset>
          {{#constant}}
            <label class="checkbox" for="showHideJoins">
              <input type="checkbox" value="" id="showHideJoins" data-toggle="checkbox">
              Show join / part messages
            </label>
            <label class="checkbox" for="showHideAway">
              <input type="checkbox" value="" id="showHideAway" data-toggle="checkbox">
              Show away / return messages
            </label>
          {{/constant}}
        </fieldset>
      </form>
    </div>
  </div>
</template>

