<template name="channel_settings">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        {{> channels}}
      </div>
      <div class="channel-container col-sm-9">
        {{> channel_header}}
        {{> settings}}
      </div>
    </div>
  </div>
</template>

<template name="settings">
  {{#if op_status}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Options</h3>
      </div>
      <div class="panel-body">
        Private
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Operators</h3>
      </div>
      <div class="panel-body">
        Add/remove Operators
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Bans</h3>
      </div>
      <div class="panel-body">
        Ban/unban
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Bots</h3>
      </div>
      <div class="panel-body">
        Manage bots
      </div>
    </div>

  {{/if}}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Invite users</h3>
    </div>
    <div class="panel-body">
      Invite users
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ignore</h3>
    </div>
    <div class="panel-body">
      <ul class="ignore-list list-group">
        {{#each ignore_list}}
          <li class="list-group-item">
            {{.}}
            <button type="button" class="close">&times;</button>
          </li>
        {{/each}}
      </ul>
      <form id="ignore-form">
        <fieldset>
          <input type="text" class="form-control" id="inputIgnore" placeholder="Ignore user" autocomplete="off">
        <fieldset>
      </form>
      <label class="checkbox" for="checkbox1">
        <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
        Show join/part messages
      </label>
    </div>
  </div>
</template>

