<template name="users">
  <div class="user-list-container col-sm-2">
    <ul class="user-list">
      {{#each users}}
        <li>
        <h3>
          <a href="/users/{{nick}}" class="{{awayClass}}">{{nick}}</a>
          {{#if mod}}
            <span class="mod">Operator</span>
          {{/if}}
          {{#if away}}
            <span class="glyphicon glyphicon-time" data-toggle="tooltip" title="Away for {{awaySince}}"></span>
          {{/if}}
        </h3>
        {{realName}}
        </li>
      {{/each}}
    </ul>
  </div>
</template>
